a.link-unstyled {
    &,
    &:hover,
    &:active {
        cursor:          pointer !important;
        // color:           inherit !important;
        color:           #32d693 !important;
        text-decoration: none !important;
        font-weight: 500;
    }
    a.link {
        &,
        &:hover,
        &:active {
            text-decoration: underline !important;
        }
    }
}
a.fancybox {
    cursor: zoom-in !important;
}