a.tag,
.tag {
    display:        inline-block;
    background:     #fff;
    width:          auto;
    height:         auto;
    border-radius:  3px;
    letter-spacing: $letter-spacing-base;
    cursor:         pointer;
    margin:         0;
    margin-right:   4px;
    margin-bottom:  7px;
}

li.side-tag-li{
    list-style: none;
}

li.side-tag-li:last-child{
   margin-bottom: 20px;
}

a.side-tag,
.side-tag{
    display:        block;
    width:          auto;
    height:         40px;
    cursor:         pointer;
    line-height: 40px;
    // margin:         0;
    color: #020808d1;
    text-decoration: none;
    text-decoration-style: none; 
    padding-left: 30px;
    border-top: 1px solid rgba(34, 82, 241, 0.116);
    width: auto; height: auto;
    font-size: inherit;
    &:hover {
        color:           map-get($colors, link);
        text-decoration: underline;
    }
}


// Colors variant
a.tag--default,
.tag--default {
    @include tag-color-variant(map-get($colors, light));
}

a.tag--success,
.tag--success {
    @include tag-color-variant(map-get($colors, success));
}

a.tag--primary,
.tag--primary {
    @include tag-color-variant(map-get($colors, primary));
}

a.tag--danger,
.tag--danger {
    @include tag-color-variant(map-get($colors, danger));
}

// Size variant
a.tag--default,
.tag--default {
    @include tag-size-variant(map-get($font-size, small), 4.5px 15px);
}

a.tag--small,
.tag--small {
    @include tag-size-variant(map-get($font-size, small), 2px 10px);
}