.toc-text {
    color: #164b78;
    font-size: 0.7em;
}

#table-of-contents{
    color: #164b78;
}   

.toc-item {
    line-height: 1.2em;
}

.toc{
    padding: 0.6em 1.7em;
    background-color: #efefef;
    border-top: 2px solid #ff33b7;
    border-radius: 0.5em;
    overflow: auto;
}

@media #{$large-and-up} {
    .toc{
        width: 16%;
        position: fixed;
        right: 0.5%;
        top: 10%;
    }
    
    #table-of-contents{
        display: none;
    }
}

@media #{$medium-and-down} {
    .toc{
        display: block;
    }
}
